.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-custom {
    background-color: rgb(80, 133, 147);
}

.card {
    background-color: rgb(80, 133, 147);
    width: 30vh;
    height: 30vh;
    
}

.vertical{
    margin-top:28%;
    }

.space{
    margin-bottom: 35vh;
    margin-top: 20vh;

}

.card:hover { transform: scale(1.1); }