.page{ 
    display: flex;
    .img{
        flex:5;
        opacity:0.95;
        background: url(./img.jpg) no-repeat top center/cover;
        height: 100vh;
    }
    .menu{
        flex:1;
        display: flex;

    }
}